.container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
}

.userStyle {
  display: flex;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 20;
}

.user {
  width: 220px;
  height: 30px;
}

.user input{
  width: 100%;
  height: 100%;
}

.user button {
  width: 100%;
}

.user button:hover {
  background: #060607
}